* {
  box-sizing: border-box;
}

:root {
  --color-primary: #FFC8E6;
  --color-primary-hover: rgb(187, 141, 149);
  --color-background-nav: #382831;
  --color-primary-active: white;
  --color-black: #1b1b1b;
  --color-black-opacity: rgba(48, 48, 48, 0.7);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Comfortaa", serif;
  color: var(--color-primary);
  padding: 0;
  margin: 0;
  background: rgb(39, 39, 39);
}

.body {
  margin-left: calc((100vw - 1100px) / 2);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1100px;
  min-height: 100vh;
  background: var(--color-black);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  font-size: 48px;
  background-image: url(images/header-bg.png);
  aspect-ratio: 1100 / 405;
}

.header-menu {
  position: fixed;
  top: 0;
  left: calc((100vw - 1100px) / 2);
  width: 100%;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  padding: 19px 49px;
  background: var(--color-black-opacity);
}

.header-icon {
  width: 40px;
  height: 40px;
  fill: white;
}

.mobile-menu {
  display: none;
}

.actions {
  display: flex;
  gap: 20px;
}

main {
  flex-grow: 1;
  padding: 49px;
}

.logo a {
  color: var(--color-primary);
}

.catalog-title {
  text-align: center;
  padding: 0;
  width: 100%;
}

.catalog-title h2 {
  font-size: 58px;
}

.big-button {
  font-size: 64px;
  color: white;
  background: var(--color-primary);
  padding: 15px 60px;
  border: none;
  border-radius: 60px;
  text-transform: uppercase;
  text-decoration: none;
}

.big-button:hover {
  background: var(--color-primary-hover);
}

.catalog-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
}

.catalog-card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 20px;
}

.catalog-card img {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.catalog-button {
  display: inline-block;
  padding: 18px 20px;
  font-size: 26px;
  background: var(--color-primary);
  color: white;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
}

.catalog-button:hover {
  background: var(--color-primary-hover);
}

.header-navigation-wrapper {
  padding: 10px 49px;
  background: var(--color-black-opacity);
}

.header-navigation {
  position: relative;
  display: flex;
  gap: 49px;
  font-size: 30px;
  cursor: pointer;
}

.header-navigation-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-navigation:hover .header-navigation-title {
  color: var(--color-primary-active);
}

.header-navigation-title.has-child::before {
  content: '▼';
  font-size: 18px;
}

.header-navigation-title.has-child::before {
  content: '▼';
  font-size: 18px;
}

.header-navigation-list {
  display: none;
}

.header-navigation > li.active .header-navigation-list {
  display: block;
}

.header-navigation > li.active .header-navigation-title.has-child::before {
  content: '▲';
}

.header-navigation-list {
  position: absolute;
  top: 100%;
  left: -49px;
  background-color: var(--color-background-nav);
}

.header-navigation-list li {
  margin: 24px 49px;
  font-size: 24px;
  color: var(--color-primary-active);
}

.header-navigation-list li a {
  text-decoration: none;
  color: var(--color-primary);
}

.header-navigation-list li a:hover {
  color: var(--color-primary-active);
}

.bread-crumbs ul {
  display: flex;
  gap: 20px;
  color: var(--color-primary-active);
}

.bread-crumbs ul li {
  white-space: nowrap;
}

.bread-crumbs ul li:last-child {
  overflow: hidden;
  text-overflow: ellipsis;
}

.bread-crumbs ul a {
  text-decoration: none;
  color: var(--color-primary);
}

.shop-basket {
  position: relative;
  width: 40px;
  height: 40px;
}

.shop-basket[data-count]::after {
  display: flex;
  align-items: center;
  justify-content: center;
  content: attr(data-count);
  font-size: 16px;
  font-weight: 600;
  width: 24px;
  height: 24px;
  padding: 2px;
  background: red;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  cursor: pointer;
}

.bread-crumbs ul a::after {
  content: '>';
  margin-left: 20px;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.product-card {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 40px;
}

.product-card-images {
  width: 150px;
  text-align: center;
  background-color: black;
}

.product-card-images img {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
}

.product-card-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(70, 70, 70);
}

.product-card-title h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.product-card-actions {
  display: flex;
  justify-content: space-between;
}

.product-card-price {
  font-size: 28px;
  font-weight: 600;
}

.product-link {
  display: flex;
  color: var(--color-primary);
}

.product-card-description {
  font-size: 14px;
  font-style: italic;
  color: rgb(141, 116, 121);
}

.product-card-basket {
  display: flex;
}

.product-card-basket.has-some .product-card-basket-button {
  display: none;
}

.product-card-basket .product-card-basket-counter {
  display: none;
}

.product-card-basket.has-some .product-card-basket-counter {
  display: flex;
  gap: 10px;
}

.product-card-basket {
  display: flex;
  gap: 40px;
}

.product-card-basket-counter-input {
  width: 70px;
  padding: 0 15px;
  text-align: center;
  font-size: 24px;
}

.product-card-basket-counter-button {
  font-size: 24px;
}

.product-card-basket-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.button-icon {
  width: 16px;
  height: 16px;
}

.footer {
  text-align: center;
  padding: 19px 49px;
}

.hidden {
  display: none !important;
}

.basket-body {
  padding: 20px 0;
}

.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  font-size: 18px;
}

.summary-price {
  font-size: 30px;
  color: white;
}

.summary-price::after {
  content: " ₽";
}

.summary-payment-button {
  padding: 20px 40px;
  color: black;
  background: white;
  border-radius: 5px;
}

.input {
  width: 100%;
  margin: 10px 0;
} 

.input-text {
  font-size: 12px;
  margin-bottom: 5px;
}

.input input[type="text"],
.input input[type="email"],
.input textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  background: #e0d9dc;
  color:#612847;
}

.payment-input {
  display: flex;
  align-items: center;
  gap: 5px;
}

.twix {
  width: 100%;
  display: flex;
  gap: 20px;
}

.width-60 {
  width: 60%;
}

.payment-card {
  margin: 40px 0;
}

.payment-img-cvv {
  height: 35px;
}

.flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.payment-img {
  height: 25px;
}

.payment-card-date {
  display: flex;
  gap: 20px;
}

.payment-card-text {
  margin-bottom: 10px;
}

.payment-input-cvv {
  display: flex;
  align-items: center;
  gap: 20px;
}

.payment-button {
  padding: 10px 20px;
  font-size: 24px;
  background: #FFC8E6;
}

.text-align-right {
  text-align: right;
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 0;
}

.product-image {
  display: flex;
  justify-content: center;
  padding: 20px 20px 20px 0;
}

.product-info {
  padding: 0 0 20px 20px;
}

.product-image img {
  height: 100%;
  max-width: 100%;
}

.product-param {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 12px 0;
  border-bottom: 1px solid var(--color-primary);
}

.product-param:last-child {
  border-bottom: none;
}

.product-param-name {  
  font-size: 12px;
}

.product-price {
  padding-top: 40px;
}

.product-price .product-card-price {
  font-size: 44px;
}

.product-review {
  display: grid;
  grid-template-columns: 34px auto 140px;
  grid-template-areas: 'avatar name raiting' '. text text';
  align-items: center;
  gap: 10px;
  padding: 20px 0;
}

.product-review-avatar {
  grid-area: avatar;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 10px 4px 10px;
  color: black;
  background-color: #e9d6e0;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 600;
}

.product-review-name {
  grid-area: name;
}

.product-review-raiting {
  grid-area: raiting;

  text-align: end;
}

.product-review-text {
  grid-area: text;
}

.rating-result {
	margin: 0 auto;
}
.rating-result span {
	padding: 0;
	font-size: 24px;
	margin: 0 3px;
	line-height: 1;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-result > span:before {
	content: '★';
}
.rating-result > span.active {
	color: #e266aa;
	text-shadow: 1px 1px #c60;
}

@media (max-width: 1100px) {
  .body {
    margin-left: 0;
  }
  
  .header-menu {
    left: 0;
  }
}